<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contrato Automax - Contrato Varejo</title>

  <link rel="stylesheet" href="./assets/css/bootstrap.css">
  <link rel="stylesheet" href="./assets/vendor/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="./assets/css/app.css">
  <link rel="shortcut icon" href="./assets/images/favicon.svg" type="image/x-icon">

  <script type="text/javascript">
    function showContent() {
        element = document.getElementById("content");
        check = document.getElementById("check");
        if (check.checked) {
            element.style.display = 'block';
        }
        else {
            element.style.display = 'none';
        }
    }
</script>
</head>

<body>
    