<%- include('includes/head') %>
<%- include('includes/menu') %>

    <div class="main-content container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Contrato Vendas Diretas</h3>
                    <p class="text-subtitle text-muted">Preencha os campos para continuar</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class='breadcrumb-header'>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Contrato Automax</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contrato VD</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section id="multiple-column-form">

            <!--Vendedor-->
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Vendedor</label>
                                            <input type="text" id="Vendedor" class="form-control" placeholder="Vendedor" name="fname-column" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Dados do Cliente-->
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Dados do Cliente</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Cliente</label>
                                            <input type="text" id="txbCliente" class="form-control" placeholder="Cliente" name="fname-column" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Razão Social</label>
                                            <input type="text" id="txbRazaoSocial" class="form-control" placeholder="Cliente" name="fname-column" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="city-column">Telefone</label>
                                            <input type="text" name="telefone" id="telefone1"  class="form-control" placeholder="Telefone" maxlength="15" required />
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Email</label>
                                            <input type="email" id="txbEmail" runat="server" class="form-control" name="company-column" placeholder="Email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="company-column">CPF/CNPJ</label>
                                            <input type="text" id="txbCPFCNPJ" runat="server" class="form-control" name="cpfcnpj" onfocus="retirarFormatacao(this);" onblur="formatarCampo(this);" maxlength="14" placeholder="CPF/CNPJ" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Inscrição Estadual</label>
                                            <input type="text" id="txbInscricao" runat="server" class="form-control" name="company-column" placeholder="Inscrição Estadual" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                     <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="email-id-colunm">CEP</label>                                                        
                                            <input name="cep" type="text" runat="server" id="txbCEP" class="mascCEP form-control" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);" placeholder="CEP" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Endereço</label>
                                            <input type="text" id="txbEndereco" runat="server" class="form-control" name="email-id-column" placeholder="Endereço" required>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Número</label>
                                            <input type="text" id="txbNumero" runat="server" class="form-control" name="email-id-column" placeholder="Número" required>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Bairro</label>
                                            <input type="text" id="txbBairro" runat="server" class="form-control" name="email-id-column" placeholder="Bairro" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="email-id-colunm">Complemento</label>
                                            <input type="text" id="txbComplemento" runat="server" class="form-control" name="email-id-colum" placeholder="Complemento" />
                                        </div>
                                    </div>                                               
                                    <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Cidade</label>
                                            <input type="text" id="txbCidade" runat="server" class="form-control" name="email-id-column" placeholder="Cidade" required>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Estado</label>
                                            <input type="text" id="txbEstado" runat="server" class="form-control" name="email-id-column" placeholder="Estado" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Categoria</label>
                                            <input type="text" id="txbCategoria" runat="server" class="form-control" name="email-id-column" placeholder="Categoria" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Desconto</label>
                                            <input type="text" id="txbDesconto" runat="server" class="form-control" name="email-id-column" placeholder="Desconto (%)" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Dados do Veiculo-->
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Dados do Veículo</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Veículo</label>
                                            <asp:DropDownList runat="server" ID="ddlModels" CssClass="form-control"></asp:DropDownList>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Qtde</label>
                                            <input type="number" id="txbQtde" runat="server" class="form-control" placeholder="Qtde" min="0.00" max="9999" step="1" name="fname-column" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Ano</label>
                                            <input type="number" id="txbAno" runat="server" class="form-control" min="2020" max="2100" step="1" placeholder="Ano" name="fname-column" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column">Modelo</label>
                                            <input type="number" id="txbModelo" runat="server" class="form-control" min="2020" max="2100" step="1" placeholder="Modelo" name="lname-column" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="city-column">Cor</label>
                                            <input type="text" id="txbCor" runat="server" class="form-control" placeholder="Cor" name="lname-column" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Opcionais</label>
                                            <input type="text" id="txbOpcional" runat="server" class="form-control" name="company-column" placeholder="Opcional..." />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Cortesias</label>
                                            <input type="text" id="txbCortesia" runat="server" class="form-control" name="company-column" placeholder="Cortesias..." />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Observação</label>
                                            <input type="text" id="txbObservacao" runat="server" class="form-control" name="company-column" placeholder="Observações..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Preço Público (R$)</label>
                                            <input type="text" id="txbPrecoPublico" runat="server" class="form-control" placeholder="R$..." name="fname-column" onKeyPress="return(moeda(this,'.',',',event))" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Preço Venda (R$)</label>
                                            <input type="text" id="txbPrecoVenda" runat="server" class="form-control" placeholder="R$..." name="fname-column" onKeyPress="return(moeda(this,'.',',',event))" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Data da Compra</label>
                                            <input type="date" id="txbDataCompra" runat="server" class="form-control" name="email-id-column" placeholder="Prazo de Entrega" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Prazo de Entrega</label>
                                            <input type="number" id="txbPrazo" runat="server" class="form-control" name="email-id-column" min="30" max="999" step="5"  placeholder="Prazo de Entrega" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Local de entrega</label>
                                            <input type="text" id="txbLoja" runat="server" class="form-control" placeholder="Local de entrega">
                                            </>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Forma de Pagamento</label>
                                            <input type="text" id="txbPagamento" runat="server" class="form-control" name="email-id-column" placeholder="Forma de Pagamento">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                    
            <!--Dados do Veiculo Seminovo-->
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                                <asp:CheckBox runat="server" ID="VeiculoSeminovo" Text="&ensp; Dados do Veículo Semi Novo" AutoPostBack="true" /></h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Placa</label>
                                            <input type="text" id="placaUsado" runat="server" class="form-control" name="email-id-column" placeholder="Placa" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Valor Avaliação</label>
                                            <input type="text" id="valorAvaliacao" runat="server" class="form-control" placeholder="R$..." name="fname-column" onKeyPress="return(moeda(this,'.',',',event))" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Data Avaliação</label>
                                            <input type="date" id="dtAvaliacao" runat="server" class="form-control" name="email-id-column" placeholder="" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12 col-12">
                    <asp:Button runat="server" ID="btnContrato" Text="Gerar Contrato" class="btn btn-primary w-100" OnClick="BtnGerar_Click" />
                </div>
            </div>
        </section>
    </div>
    <a id="PointA" name="PointA"></a>