<%- include('includes/head') %>
<%- include('includes/nav') %>

    <div class="main-content container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Contrato Vendas Diretas</h3>
                    <p class="text-subtitle text-muted">Preencha os campos para continuar</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class='breadcrumb-header'>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Contrato Automax</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contrato Venda Direta</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section id="multiple-column-form">

        <form action="/resultContratoVD" method="POST">

            <!--Vendedor-->
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Vendedor</label>
                                            <input type="text" id="Vendedor" name="vendedor" class="form-control" placeholder="Vendedor" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Dados do Cliente-->
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Dados do Cliente</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Cliente</label>
                                            <input type="text" id="nomeCliente" name="nomeCliente" class="form-control" placeholder="Cliente"  required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Razão Social</label>
                                            <input type="text" id="razaoSocial" class="form-control" placeholder="Razão Social"name="razaoSocial" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="city-column">Telefone</label>
                                            <input type="text" name="telefone" id="telefone"  class="form-control" placeholder="Telefone" maxlength="15" required />
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Email</label>
                                            <input type="email" id="email" class="form-control" name="email" placeholder="Email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="company-column">CPF/CNPJ</label>
                                            <input type="text" id="CPF_CNPJ" runat="server" class="form-control" name="CPF_CNPJ" onfocus="retirarFormatacao(this);" onblur="formatarCampo(this);" maxlength="14" placeholder="CPF/CNPJ" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Inscrição Estadual</label>
                                            <input type="text" id="inscricaoEstadual" class="form-control" name="inscricaoEstadual" placeholder="Inscrição Estadual" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                     <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="email-id-colunm">CEP</label>                                                        
                                            <input name="cep" type="text" id="cep" class="mascCEP form-control" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);" placeholder="CEP" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Endereço</label>
                                            <input type="text" id="endereco" class="form-control" name="endereco" placeholder="Endereço" required>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Número</label>
                                            <input type="text" id="numero" class="form-control" name="numero" placeholder="Número" required>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Bairro</label>
                                            <input type="text" id="bairro" class="form-control" name="bairro" placeholder="Bairro" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="email-id-colunm">Complemento</label>
                                            <input type="text" id="complemento" class="form-control" name="complemento" placeholder="Complemento" />
                                        </div>
                                    </div>                                               
                                    <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Cidade</label>
                                            <input type="text" id="cidade" class="form-control" name="cidade" placeholder="Cidade" required>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Estado</label>
                                            <input type="text" id="estado" class="form-control" name="estado" placeholder="Estado" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Categoria</label>
                                            <input type="text" id="categoria" class="form-control" name="categoria" placeholder="Categoria" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Desconto</label>
                                            <input type="text" id="desconto" class="form-control" name="desconto" placeholder="Desconto (%)" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Dados do Veiculo-->
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Dados do Veículo</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Veículo</label>
                                            <DropDownList runat="server" ID="ddlModels" CssClass="form-control"></DropDownList>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Qtde</label>
                                            <input type="number" id="qtdeVeiculo" class="form-control" placeholder="Qtde" min="0.00" max="9999" step="1" name="qtdeVeiculo" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Ano</label>
                                            <input type="number" id="anoModelo" class="form-control" min="2020" max="2100" step="1" placeholder="Ano" name="ano" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column">Modelo</label>
                                            <input type="number" id="modelo" class="form-control" min="2020" max="2100" step="1" placeholder="Modelo" name="modelo" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="city-column">Cor</label>
                                            <input type="text" id="cor" class="form-control" placeholder="Cor" name="cor" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Opcionais</label>
                                            <input type="text" id="opcionais" class="form-control" name="opcionais" placeholder="Opcional..." />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Cortesias</label>
                                            <input type="text" id="cortesia" class="form-control" name="cortesia" placeholder="Cortesias..." />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="company-column">Observação</label>
                                            <input type="text" id="obs" class="form-control" name="obs" placeholder="Observações..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Preço Público(R$)</label>
                                            <input type="text" id="precoPublico" class="form-control" placeholder="R$..." name="precoPublico" onKeyPress="return(moeda(this,'.',',',event))" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Preço Venda(R$)</label>
                                            <input type="text" id="precoVenda" class="form-control" placeholder="R$..." name="precoVenda" onKeyPress="return(moeda(this,'.',',',event))" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Data da Compra</label>
                                            <input type="date" id="dataCompra" class="form-control" name="dataCompra" placeholder="Prazo de Entrega" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Prazo de Entrega</label>
                                            <input type="number" id="prazoEntrega" class="form-control" name="prazoEntrega" min="30" max="999" step="5"  placeholder="Prazo de Entrega" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Local de entrega</label>
                                            <input type="text" id="loja" class="form-control" nome="loja" placeholder="Local de entrega">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Forma de Pagamento</label>
                                            <input type="text" id="pagamento"  class="form-control" name="pagamento" placeholder="Forma de Pagamento">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                    
            <!--Dados do Veiculo Seminovo-->
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                                <asp:CheckBox id="VeiculoSeminovo" Text="&ensp; Dados do Veículo Semi-novo" AutoPostBack="true" /></h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Placa</label>
                                            <input type="text" id="placaUsado" class="form-control" name="placaUsado" placeholder="Placa" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Valor Avaliação</label>
                                            <input type="text" id="valorAvaliacao" class="form-control" placeholder="R$..." name="valorAvaliacao" onKeyPress="return(moeda(this,'.',',',event))" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="email-id-column">Data Avaliação</label>
                                            <input type="date" id="dtAvaliacao" class="form-control" name="dtAvaliacao" placeholder="" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12 col-12">
                    <Button id="btnContrato" Text="Gerar Contrato" class="btn btn-primary w-100" OnClick="BtnGerar_Click"></Button>

                </div>
            </div>
        </section>
    </div>
    </form>

    <a id="PointA" name="PointA"></a>

    <%- include('includes/footer') %>