<%- include('includes/head') %>

  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  <link rel="shortcut icon" href="../assets/images/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="../assets/css/app.css">

<div id="auth">

  <div class="container">
      <div class="row">
          <div class="col-md-5 col-sm-12 mx-auto">
              <div class="card pt-4">
                  <div class="card-body">
                      <div class="text-center mb-5">
                          <img src="../assets/images/AutomaxLogo.png" height="48" class='w-75 mb-4'>
                          <h3>Login</h3>
                          <p>Faça o login para acessar o sistema.</p>
                      </div>
                      <form runat="server" id="Form1">
                          <div class="form-group position-relative has-icon-left">
                              <label for="username">Email</label>
                              <div class="position-relative">
                                  <input type="email" placeholder="email@exemplo.com" runat="server" id="txbUser" class="form-control">
                                  <div class="form-control-icon">
                                      <i data-feather="user"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group position-relative has-icon-left">
                              <div class="clearfix">
                                  <label for="password">Senha</label>
                              </div>
                              <div class="position-relative">
                                  <input type="password" placeholder="senha" runat="server" id="txbPass" class="form-control">
                                  <div class="form-control-icon">
                                      <i data-feather="lock"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="row alert alert-primary text-center" runat="server" id="divAlert" visible="false">
                              <label runat="server" ID="lbAlert"></label>
                          </div>
                          <div class="row mt-4">
                              <div class="col-md-6">
                                  <a href="Forgot.aspx">Esqueci minha senha</a>  </div>
                              <div class="col-md-6 text-end">
                                  <a href="/login/cadastro">Solicitar Acesso</a></div>
                          </div>
                          <div class="clearfix mt-2">
                              <button runat="server" ID="btnLogin" CssClass="btn btn-primary w-100" Text="Login" OnClick="btnLogin_click" />
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

<script src="../assets/js/feather-icons/feather.min.js"></script>
<script src="../assets/js/app.js"></script>

<script src="../assets/js/main.js"></script>

<%- include('includes/footer') %>


